


<style>
    .container{
   text-align: center;
    width: 90vw;
    position: absolute;
    z-index: 99999999;
    top:0;
    left:5vw;

    }
    .img{
     display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top:10vh;

  border: 2px solid #cddc39;
  filter: drop-shadow(0 0 8px #ff5722);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
    }




.card2 {

  max-width: 40vw;
  margin:auto;

  text-align: center;
  display:flex;


}



.card {
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.3);
  max-width: 40vw;
  margin:auto;
  height:auto;
  text-align: center;
  display:flex;

  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));
  border-radius:10px;
background-image: linear-gradient(#CAF0F2, #F2F2CA );

}

.title {
  color: black;
  font-size: 20px;
font-style: oblique;
}

.title2 {
  color: white;
  font-size: 35px;
  font-style: oblique;
}
.dimg{
width:10vw;
margin-top:1vh;
margin-right:1vh;

height:15vh;
  border-radius:10px;
  text-align: center;


}
.dis{
width:35vw;
}
.fa2{
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));
  border-radius:10px;
background-image: linear-gradient(#CAF0F2, #F2F2CA );
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.3);
 display:flex;
 width:50vw!important;
 margin-top:1vh;

}
.fa {
display:flex;
  font-size: 60px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color:#99ccff;
  padding-top:3vh;
}
.block{
border:2px
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
.icons{
margin-top:10vh;
}
.icons2{
display:block;
margin-top:20vh;
padding:1vh;
}
.footer {

  width: 100vw;
  background-color: #1a1a1b;
  color: white;
  height:50px;
  z-index:999999;
  margin-left:-5vw;

}

@media only screen and (max-width: 600px) {
 .card {

  max-width: 70vw;

  height:auto;

}
.title{
font-size:16px;
}
.dis{
width:50vw;
}
.tdis{
font-size: 12px;
}
.dimg{
width:20vw;
}

}
</style>
<div class="container" >



    <div class="proflipic">
         <img src="{{dp}}" class="img"/>
    </div>

 <h1 class="title2">
{{name}}

</h1>

    <div>

        {% for l in links %}
        <br/>
    <div class="card">


        <div class="dis">
            <div class="block">
                <p class="title"><b>Title </b>{{l.title}}</p>
            </div>


             <p class="tdis"> {{l.des}}</p>


        </div>
        <div>
                <a href={{l.url}}>
               <img src={{l.thum}} alt="John" class="dimg" >
                 </a>

        </div>

     </div>

    {% endfor %}

     </div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


   <!-- Add font awesome icons -->
{% if count == 0 %}
    <div class="icons2">

        <div class="card2">
            <a href={{fb}} class="fa fa2 fa-facebook" style="font-size: 30px;">{% if fb  %} Facebook {%endif%}</a>
        </div>

<div class="card2">
 <a href={{twitter}} class="fa fa2 fa-twitter" style="font-size: 30px;"> {%if twitter %} Twitter {%endif%}</a>
</div>
<div class="card2">
  <a href={{insta}} class="fa fa2 fa-instagram" style="font-size: 30px;">{%if insta %} Instragram {%endif%}</a>
</div>
<div class="card2">
    <a href={{whatsapp}} class="fa fa2 fa-whatsapp" style="font-size: 30px;"> {%if whatsapp %} Whatsapp {%endif%}</a>
</div >
<div class="card2">
    <a href={{phone}} class="fa fa2 fa-phone" style="font-size: 30px;"> {%if phone %} Phone {%endif%}</a>
</div>
<div class="card2">
   <a href={{youtube}} class="fa fa2 fa-youtube" style="font-size: 30px;"> {%if youtube %} Youtube {%endif%}</a>
</div>
<div class="card2">
    <a href={{linkedin}} class="fa fa2 fa-linkedin" style="font-size: 30px;"> {%if linkedin %} Linkedin {%endif%} </a>
</div>


    </div>
    {% else %}
    <div class="icons">
    <a href={{fb}} class="fa fa-facebook" style="font-size: 30px;"></a>



<a href={{twitter}} class="fa fa-twitter" style="font-size: 30px;"></a>
<a href={{insta}} class="fa fa-instagram" style="font-size: 30px;"></a>
<a href={{whatsapp}} class="fa fa-whatsapp" style="font-size: 30px;"></a>
<a href={{phone}} class="fa fa-phone" style="font-size: 30px;"></a>
<a href={{youtube}} class="fa fa-youtube" style="font-size: 30px;"></a>
    <a href={{linkedin}} class="fa fa-linkedin" style="font-size: 30px;"></a>

</div>
 {% endif %}


<div class="footer">
    <p>Made with ❤️ by {{username}}</p>
</div>
</div>

